.sectionTwoPoint>div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    line-height: 52px;
    text-align: center;
    border: solid 1px #f8f8f8;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 24px;
}
.sectionThreePoint{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    width: 40%;
    align-items: start;
    /* background-color: yellow; */
    
}
.sectionThreePoint>div:nth-child(1){
    width: 20%;
    /* background-color: red; */
}
.sectionThreePoint>div:nth-child(1)>img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.sectionThreePoint>div:nth-child(2){
    width: 70%;
    /* background-color: green; */
}


.sectionThreePoint>div>h2{
  
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 1px;
    color: #000000;
    width: 100%;
    
}
.sectionThreePoint>div>p{
    opacity: 0.8;
   
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.6px;
    color: #8a8989;
    margin-top: 20px;
    
    
   
}

.sectionTwo p{
   
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    color: #f8f8f8;
    
    padding-bottom: 30px;
   
}

.sectionThree>div:nth-child(1){
    display: flex;
    gap: 40px;
    justify-content: center;
    


}
.sectionThree>div>p{
    /* width: 440px; */
    opacity: 0.6;
  
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
 
    line-height: 1.8;
    letter-spacing: 0.94px;
    color: #000000;
    flex-basis: 40%;
}
.sectionThree>div>h1{
    flex-basis: 40%;
}
.sectionThree>div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}


/* section five */

.sectionFive{
    display: flex;
}
.discordDiv{
    background-image: linear-gradient(to right bottom,rgba(64,41,209,0.3), rgb(89,66,233));
    /* background-color: red; */
    border-radius: 16px;
    display: flex;
    align-items: center;
    
}

/* sectionone */

.sectionOne{
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 90vh; */
    background-color: #f8f8f8;
    /* background-color: red; */
    padding-top: 30vh !important;

}




.sectionOne .button{
    background-color: #11141c;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    padding: 10px;
    width: 185px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    gap: 10px;
    margin-bottom: 50px;



}
.button>p{
    letter-spacing: 1px;
}

/* images */
.heroImages{
    overflow-x: hidden;
    margin: auto;
   
}
.images{
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
    margin-bottom: 15px;
    gap: 15px;
    height: 250px;
    align-items: end;
    /* align-items: baseline; */
   
   
    
}
.images>div{
    height: 100%;
}

.image1{
    width: 30%;
    height: 100% !important;
   

}
.image2{
    height: 65% !important;
    width: 30%;
}
.image3{
    height: 85% !important;
    width: 40%;
}
.image4{
    width: 40%;
}
.image5{
    width: 40%;
}
.image6{
    width: 20%;
    align-self: baseline;
    height: 50% !important
}
.images>div>img{
    height: 100%;
    width: 100%;
    
    
    object-fit: cover;
    border-radius: 18px;
}

/* section five */

.sectionFive{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.discord{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: #414141;
    margin: 30px 0px;
    margin-top: 50px;
    cursor: pointer;
}
.discord>div{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(135deg, rgba(64, 41, 209, 0.3) 0%, #5942E9 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* custom text input */

.textInputs{
    margin: 40px auto;
    
}
.customTextInput{
    text-align: left;
    width: 80%;
    
    /* background-color: red; */
    margin: auto;

    
}
.customTextInput>input{
    margin-top: 10px;
    margin-bottom: 20px;
    
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
}
.subsribeButtonWrapper{
    width: 80%;
    margin: auto;

}
.subsribeButton{
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    background-color: #5942E9;
    width: fit-content;
    cursor: pointer;


}
.subsribeButton>p{
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
}
.subscribePara{
    opacity: 0.6;
  
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
 
    line-height: 1.8;
    letter-spacing: 0.94px;
    color: #000000;
    flex-basis: 40%;
}