@tailwind base;
@tailwind components;
@tailwind utilities;

.navButton{
  @apply cursor-pointer rounded-full bg-gray-800 px-4 py-2 shadow-xl  lg:px-6 lg:py-3
}

/*
COMPONENT- NAVBAR 
PATH - /SRC/UTILS
USED FOR - for LARGE_SCREEN CENTER NAVIGATION BUTTON ITEMS 

 */
.navItem{
  @apply cursor-pointer select-none rounded-full  font-semibold text-gray-50 transition duration-300 hover:text-blue-300
}
.navSmallScreenButton{
  @apply cursor-pointer flex shrink-0  items-center justify-center  rounded-full  transition-all duration-300 select-none   text-gray-50  hover:bg-gray-700  p-2  gap-4 relative h-10 w-10 bg-gray-800  active:outline-none lg:hidden
}

.headerStyle{
  @apply text-[36px] min-[700px]:text-[40px]  lg:text-[48px] font-extrabold  text-center
}
.headerStyleTwo{
  @apply text-[30px] min-[700px]:text-[46px]  lg:text-[40px] font-bold  text-center
}



/* animationssss */

@keyframes cirriculumAnimation {
	0% {
		transform: scale(0);
    opacity: 0;
	}
	100% {
		transform: scale(1);
    opacity: 1;
	}
}
@keyframes journeyIndexAnimation {
  0% {
    transform: scale(0) ;
		
    opacity: 0;
	}
	100% {
		
    opacity: 1;
    transform: scale(1);
	}

  
}
@media (prefers-reduced-motion: no-preference) {
  .cirriculumAnimationClass {
    animation: cirriculumAnimation  1s 1;
    
  }
  .journeyIndexAnimationClass{
    animation:  journeyIndexAnimation 1s 1;
    
  }
}